body {
    font-family: 'Inter', sans-serif;
}

a {
    color: rgba(255, 255, 255, 1);
}

.hiden {
    display: none;
}

.container {
    margin: 0 auto;
    width: 1480px;
}

/* FLEX */
.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.al-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.fd-column {
    flex-direction: column;
}

/* HEADER */
/* logo */
.header {
    background-color: rgba(4, 56, 115, 1);
}

.header-logo {
    padding: 29px 0;
}

.header-logo-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

}

.header-logo img {
    margin-right: 10px;
}

/* nav */
.header-nav {
    margin-right: 60px;
    padding: 34px 0;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-item {
    margin-right: 32px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.header-nav-item a {
    margin-right: 10px;
}

.header-nav-item a:last-child {
    margin-right: 0px;
}

.header-nav-arrow {
    padding: 10px;
}

/*header-btn */
.header-btn {
    border-radius: 8px;
}

.btn-login {
    margin: 16px 24px 16px 0;
    padding: 16px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    background-color: rgba(255, 228, 146, 1);
    color: rgba(4, 56, 115, 1);
}

.btn-free-trial {
    margin: 16px 0;
    background-color: rgba(79, 156, 249, 1);
}

.btn-free-trial p {
    padding: 16px 24px;
    position: relative;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.btn-free-trial p::after {
    top: 20px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(./img/arrow-rigth.png);
}

/* SECTION TITLE */
.section-title {
    background-color: rgba(4, 56, 115, 1);
    background-position-y: center;
    background-image: url(./img/backgraund.png);
    background-repeat: repeat-x;
}

.section-title-wrapper {
    padding: 140px 0;
}

.section-title-text {
    padding: 94px 25px 94px 0;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.section-title-text h1 {
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.section-title-text p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-title-img {
    flex: 0 0 825px;3de+
    azDFGH
    4569+8
    
    background-image: url(./img/2.jpg);
    object-fit: cover;
}

.section-title-btn {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(79, 156, 249, 1);

}

/*SECTION PROJECT MANAGEMENT */
.section-main {
    background-image: url(./img/backgraund2.png);
    background-repeat: no-repeat;
    background-position: top 280px left;
}

.section-items-wrapper {
    padding: 140px 0;
}

.section-item-wrapper {
    margin-bottom: 100px;
}

.section-item-wrapper:last-child {
    margin-bottom: 0;
}

.section-item {
    padding: 68px;
    padding-left: 0;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(33, 37, 41, 1);
}

.section-item h2 {
    margin-bottom: 24px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    background-image: url(./img/element1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-item p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-item-btn {
    padding: 20px 40px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background: rgba(79, 156, 249, 1);
}

.section-item-img {
    flex: 0 0 750px;
    background-image: url(./img/1.jpg);
    object-fit: cover;
}

.section-item2 {
    padding: 183px 0 183px 100px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(33, 37, 41, 1);
}

.section-item2 h2 {
    margin-bottom: 24px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    background-position: bottom;
    background-image: url(./img/element2.png);
    background-repeat: no-repeat;
}

.section-item2 p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-item-backgraund {
    flex: 0 0 auto;
    background-color: #fff;
}

/* SECTION CUSTOMAISE */
.section-customise {
    background-color: rgba(4, 56, 115, 1);
}

.section-customise-wrapper {
    padding: 140px 0;
}

.section-customise-item {
    padding: 90px 100px 90px 0;
    color: rgba(255, 255, 255, 1);
}

.section-customise-title {
    margin-bottom: 24px;
    position: relative;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: -0.02em;
    text-align: left;
}

.section-customise-title img {
    position: absolute;
    right: 120px;
    bottom: -30px;
}

.section-customise-item p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-customise-btn {
    background-color: coral;
    padding: 20px 40px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    background-color: rgba(79, 156, 249, 1);
}

.section-customise-img {
    flex: 0 0 auto;
    width: 686px;
    height: 480px;
    background-color: rgba(196, 222, 253, 1);

}

/* section-customize-two */
.section-customize-two-wrapper {
    padding: 140px 0;
}

.section-customize-two-img {
    flex: 0 0 auto;
    width: 715px;
    height: 532px;
    background-color: #4F9CF9;
}

.section-customize-two-item {
    padding: 60px 0 60px 100px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(33, 37, 41, 1);
}

.section-customize-two-item h2 {
    margin-bottom: 24px;
}

.section-customize-two-title {
    position: relative;
}

.section-customize-two-title img {
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: -1;
}

.section-customize-two-item p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-customize-two-btn {
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(79, 156, 249, 1);
}

/* section-pricing */
.section-pricing-wrapper {
    padding: 140px 0;
}

.section-pricing-title {
    margin-bottom: 60px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(33, 37, 41, 1);
}

.section-pricing-title h2 {
    margin-bottom: 24px;
    position: relative;
}

.section-pricing-title img {
    position: absolute;
    left: 730px;
    bottom: 0;
    z-index: -1;
}

.section-pricing-title p {
    margin: 0 auto;
    width: 850px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* section-pricing ITEM WHITE */

.section-pricing-item-white {
    margin: 60px 0;
    margin-right: 32px;
    padding: 40px 44px;
    width: 470px;
    border: 1px solid rgba(255, 228, 146, 1);
    border-radius: 10px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(33, 37, 41, 1);
}

.section-pricing-item-white:last-child {
    margin-right: 0;
}

.section-pricing-item-white-title h3 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

.section-pricing-item-white-price {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.section-pricing-item-white-title p:last-child {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.section-pricing-item-blue-li {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section-pricing-item-blue-li img {
    margin-right: 19px;
    width: 21px;
    height: 21px;
}

.section-pricing-item-blue-li .change-marker:nth-child(2) {
    display: none;
}

.section-pricing-btn-white {
    padding: 16px 40px;
    border: 1px solid rgba(255, 228, 146, 1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(33, 37, 41, 1);
}

.section-pricing-item-white:hover {
    margin: 0;
    margin-right: 32px;
    padding: 80px 44px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(4, 56, 115, 1);
}

.section-pricing-item-white:last-child:hover {
    margin-right: 0;
}

.section-pricing-item-white:hover .section-pricing-item-white-price {
    color: rgba(255, 228, 146, 1);
}

.section-pricing-item-white:hover .section-pricing-item-blue-li {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.section-pricing-item-white:hover .section-pricing-item-blue-li .change-marker:nth-child(1) {
    display: none;
}

.section-pricing-item-white:hover .section-pricing-item-blue-li .change-marker:nth-child(2) {
    display: block;
}

.section-pricing-item-white:hover .section-pricing-btn-white {
    border: none;
    background-color: rgba(79, 156, 249, 1);
    color: rgba(255, 255, 255, 1);
}

/* section-your-work */
.section-your-work {
    background-color: rgba(4, 56, 115, 1);
    background-image: url(./img/backgraund4.png);
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    z-index: -2;
}

.your-work-wrapper {
    margin: 0 auto;
    padding: 140px 0;
    width: 1100px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.your-work-title {
    margin-bottom: 24px;
    font-size: 72px;
    font-weight: 700;
    position: relative;
}

.your-work-title img {
    position: absolute;
    top: 60px;
    right: -30px;
    z-index: -1;
}

.your-work-des {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.your-work-btn {
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(79, 156, 249, 1);
}

/* your-data */
.your-data {
    padding: 168px 0;
}

.your-data-text {
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(33, 37, 41, 1);
}

.your-data-title {
    margin-bottom: 24px;
    font-size: 72px;
    font-weight: 700;

}

.your-data-title {
    position: relative;
}

.your-data-title img {
    position: absolute;
    top: 65px;
    right: 180px;
    z-index: -1;
}

.your-data-des {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.your-data-btn {
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(79, 156, 249, 1);
}

.your-data-element {
    flex: 0 0 auto;
}

/* SPONSOR */
.sponsor {
    padding: 140px 0;
}

.sponsor-title {
    margin-bottom: 100px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(33, 37, 41, 1);
    position: relative;
}

.sponsor-title img {
    z-index: -1;
    top: 55px;
    right: 490px;
    position: absolute;
}

/* APPS */
.apps {
    background-color: rgba(4, 56, 115, 1);
    background-image: url(./img/backgraund6.png);
    background-repeat: no-repeat;
}

.apps-wrapper {
    padding: 140px 0;
}

.apps-img {
    margin-right: 100px;
    flex: 0 0 auto;
}

.apps-title {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.apps-title>h2 {
    margin-bottom: 24px;
}

.apps-title>p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.apps-btn {
    border-radius: 8px;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(79, 156, 249, 1);
}

/* TESTIMONIAL */
.testimonial-wrapper {
    padding: 140px 0;
}

.testimonial-title {
    margin-bottom: 60px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}

.testimonial-title>h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
}

.testimonial-title>img {
    z-index: -1;
    top: 30px;
    right: 300px;
    position: absolute;
}

.testimonial-slider-item {
    margin-bottom: 60px;
    padding: 60px 40px;
    margin-right: 32px;
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgba(33, 37, 41, 1);
}

.testimonial-slider-item:last-child {
    margin-right: 0;
}

.testimonial-slider-item>img {
    margin-bottom: 32px;
}

.testimonial-slider-item>p {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
}

.testimonial-slider-item-line {
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(33, 37, 41, 1)
}

.testimonial-slider-user-img {
    margin-right: 42px;
    border-radius: 50px;
}

.testimonial-slider-user-title {
    letter-spacing: 0em;
    text-align: left;
}

.testimonial-slider-user-title>h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.testimonial-slider-user-title>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.testimonial-slider-item:hover {
    transition: 0.5s;
    background: rgba(79, 156, 249, 1);
    color: rgba(255, 255, 255, 1);
}

.testimonial-slider-item:hover .testimonial-slider-item-line {
    border-bottom: 1px solid rgba(255, 255, 255, 1)
}

.testimonial-slider-item:hover .testimonial-slider-user-title>h2 {
    color: rgba(4, 56, 115, 1);
}

.testimonial-slider-point-list {
    margin: 0 auto;
    width: 60px;
}

.testimonial-slider-item .change-quote:nth-child(2) {
    display: none;
}

.testimonial-slider-item:hover .change-quote:nth-child(2) {
    display: block;
}

.testimonial-slider-item:hover .change-quote:nth-child(1) {
    display: none;
}

.testimonial-slider-point {
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: rgba(79, 156, 249, 1);
}

.testimonial-slider-point:last-child {
    margin-right: 0;
}

.testimonial-slider-point-blue {
    background: rgba(4, 56, 115, 1);
}

/* FREE TRIAL */
.free-trial {
    background-color: rgba(4, 56, 115, 1);
}

.free-trial-title {
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 32px;
    width: 680px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.free-trial-title>h2 {
    margin-bottom: 24px;
    font-size: 72px;
    font-weight: 700;
}

.free-trial-title p {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.free-trial-title p:nth-child(2) {
    margin-bottom: 0;
}

.free-trial-btn {
    margin-bottom: 40px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(79, 156, 249, 1);
}

.free-trial-app img {
    margin-right: 40px;
}

.free-trial-app img:last-child {
    margin-right: 0;
}

/*  FOOTER-MENU */
.footer-info {
    margin: 0 auto;
    padding-top: 140px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(4, 56, 115, 1);
}

.footer-logo {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
}

.footer-logo img {
    margin-bottom: 18px;
    margin-right: 10px;
}

.footer-logo p {
    width: 240px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(247, 247, 238, 1);
}

.footer-menu-col {
    margin-right: 100px;
}

.footer-menu-col:last-child {
    margin-right: 0;
}

.footer-menu-col {
    width: 200px;
    font-size: 18px;
    font-weight: 700;
}

.footer-menu-col p {
    margin-bottom: 15px;
}

.footer-menu-col>a {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.footer-menu-col>a:hover {
    color: rgba(255, 228, 146, 1);
}

.footer-try {
    width: 260px;
}

.footer-try h3 {
    margin-bottom: 23px;
    font-size: 28px;
    font-weight: 700;
}

.footer-try p {
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.footer-menu-btn {
    margin-bottom: 70px;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(79, 156, 249, 1);
}

.footer-line {
    border: 1px solid rgba(46, 78, 115, 1)
}

/* FOOTER */
.footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    background-color: rgba(4, 56, 115, 1);
}

.footer-wrapper {
    padding: 32px 0;
}

.footer-local {
    margin-right: 60px;
}

.footer-local>img {
    margin-right: 6px;
}

.footer-tems {
    margin-right: auto;
}

.footer-tems>a {
    margin-right: 60px;
}

.footer-tems>a:last-child {
    margin-right: 0;
}

.footer-social>img {
    margin-right: 32px;
}

.footer-social>img:last-child {
    margin-right: 0;
}